body {
  background: #f9fafb;
  color: #1a202c;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  overflow-x: hidden;
}