.header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background-color: rgb(115, 192, 236);
    position: sticky;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.h1 {
    flex: 1;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.1rem;
    padding-bottom: 3rem;
    color: #14222b;
}

.nav {
    align-self: end;
    justify-self: left;
    margin-bottom: 0.3rem;
    width: 40vw;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    list-style: none;
    list-style-type: none;
}

.counterBalanceNav {
    width: 40vw;
}

.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 2rem;
    line-height: 1.5rem;
    list-style: none;
    list-style-type: none;
}

.li {
    background-color: #4a6f86;
    border-radius: 0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border: solid 0.1rem black;
    list-style: none;
    list-style-type: none;
}