.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #4d819f;
    width: 50vw;
    margin-top: 1rem;
    box-sizing: border-box;
}

.h2 {
    font-size: 2rem;
    font-weight: 600;
}

.h3 {
    align-self: start;
    margin-left: 5rem;
    font-size: 1rem;
    font-weight: 600;
}

.searchBar {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #4d819f;
    width: 40vw;
    font-size: 1rem;
    box-sizing: border-box;
}

.searchButton {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #5d9dc4;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.searchButton:hover {
    background-color: #274252;
}

.dropdown {
    top: 100%;
    left: 0;
    z-index: 0;
    width: 40vw;
    height: 10rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #5d9dc4;
  }

  .select {
    width: 40vw;
  }